@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW.woff) format('woff');
}
@media all and (min-width: 1281px) {
.home {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "OpenSans", sans-serif!important;

  .line {
    width: 100%;
    height: 1px;
    background-color: #dfe4ee;
    margin-bottom: 20px;
  }
  .line-main {
    width: 100%;
    height: 1px;
    background-color: #dfe4ee;
    margin-bottom: 20px;
  }
}
}