.home {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .line {
    width: 100%;
    height: 1px;
    background-color: #dfe4ee;
    margin-bottom: 20px;
  }
}