.challenge-main {
  max-width: 1696px;
  margin-top: 50px;

  > .challenges {
    display: flex;
    flex-direction: row;

    > .container {
      display: flex;
      font-size: 18px;
      flex-direction: column;
      width: 50%;

      > .challenges-title {
        text-align: left;
        color: #1c1c1c;
        font-size: 25px;
        font-weight: 600;
      }
    }
    > .image-container {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        > .image {
            width: 40%;
            // height: 80%;
        }
    }
   
  }
}
