.nft-button {
  position: fixed;
  bottom: 20px;
  right: 25px;
  background-image: url(../../assets/nftButtonBg.png);
  background-size: 94px 52px;
  width: 94px;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  height: 52px;
  object-fit: contain;
}

@media all and (max-width: 700px) {
  .nft-button {
    bottom: 10px;
    right: 15px;
  }
}
