
@font-face {
    font-family: "arial-black", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://www.dafontfree.net/embed/YXJpYWwtYmxhY2stcmVndWxhciZkYXRhLzk0Ni9hLzIwNjQzNC9hcmlibGsudHRm)
      format("ttf");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW.woff)
      format("woff");
  }
@media all and (min-width: 1441px) {
    .container {
        width: 100%;
        .header {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-top: 90px;
            
            &__title {
                font-size: 38px;
                font-weight: 600;
                line-height: 1.37;
                color: #1c1c1c;
            }
            &__description {
                font-family: "Open Sans", sans-serif !important;
                width: 1180px;
                height: 46px;
                font-size: 16px;
                line-height: 1.5;
                color: #808992;
                margin-top: 15px;
            }
        }

        .content {
            margin: 150px 0 80px 0;
            text-align: center;
            display: flex;
            justify-content: center;
            &__service {
                flex-direction: column;
                align-items: center;
                display: flex;

                .img {
                    width: 300px;
                    height: 250px;
                }

                .title {
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 2.30;
                    text-align: center;
                    color: #1c1c1c;
                    margin: 90px 0 20px 0;
                    font-family: "Open Sans", sans-serif !important;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    
                    &__op {
                        font-size: 22px;
                        font-weight: bold;
                        line-height: 4.86;
                        color: #ff0420;
                    }

                    &__zk {
                        font-size: 22px;
                        font-weight: bold;
                        line-height: 4.86;
                        color: #06d863;
                    }
                }

                .description {
                    max-width: 700px;
                    height: 70px;
                    margin: 20px 87px 30px;
                    font-size: 16px;
                    font-style: normal;
                    line-height: 1.5;
                    text-align: left;
                    color: #1c1c1c;
                    font-family: "Open Sans", sans-serif !important;

                    :first-child {
                        padding-right: 80px;
                    }
                }
                .info {
                    width: 180px;
                    height: 44px;
                    border-radius: 100px;
                    border: solid 1px #dfe4ee;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.36;
                    justify-content: center;
                    color: #808992;
                }
            }
        }
    }
}