@media all and (max-width: 700px) {
  .challenge-container {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0 30px;

    > .challenge-img {
      max-width: 300px;
      margin-bottom: 30px;
    }

    > .challenge {
      width: 90%;
      margin-top: 20px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;

      > .challenge-title {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
        margin: 20px 10px;
      }

      > .challenge-content {
        margin-top: 20px;
        font-size: 13px;
        font-weight: normal;
        margin: 0 10px;

        > .challenge-intro {
          margin-bottom: 25px;
        }

        > .list {
          display: flex;
          justify-content: flex-start;
          line-height: 1.88;

          > .x_icon {
            margin-right: 10px;
          }
        }

        > .challenge-explain {
          margin-top: 20px;
          line-height: 1.5;
        }
      }
    }
  }
}