@media all and (max-width: 700px) {
  .layer2-container {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    // max-width: 964px;
    margin: 120px 0 110px 0;
    padding: 0px;

    > .layer2 {
      max-width: 300px;
      margin: 0px;
      
      > .img {
        margin-bottom: 50px;
        margin-right: 20px;
      }

      > .title {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.5px;
        text-align: center;
        color: #1c1c1c;
      }

      > .description {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: -0.35px;
        text-align: center;
        color: #4c4c4c;

        margin-bottom: 70px;
      }
    }
  }
}