#app {
  font-family: "Open Sans", sans-serif;
  font-stretch: normal;
  font-style: normal;
  color: #2c3e50;
  max-width: 1920px;
  width: 100%;

  flex-direction: column;
  display: flex;
  align-items: center;
}
.line {
  width: 100%;

  height: 4px;
  margin-bottom: 22px;
  background-color: #2a72e5;
}

.layout {
  max-width: 100%;
}