.blank {
  height: 20px;
}
.services {
    position: absolute;
    margin-left: -82px;
    width: 223px;
    height: 340px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(96, 97, 112, 0.14);
    background-color: #ffffff;
    z-index: 2;
    cursor: default;

 > .services-line {
    width: 203px;
    height: 2px;
    margin: 0 10px 3px;
    border-bottom: 2px solid #246fed;
  }

  > .tab-container{
    padding: 0 0 5px;

  > .tab-title{ 
    text-align: left;
    font-size: 13px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #1c1c1c;
    padding:7px 15px;
  }

  > .tab{ 
    display: flex;
    text-align: left;
    width: 140px;
    height: 32px; 
    font-weight: normal;
    border: none;
    background-color: #ffffff;
    color: #1c1c1c;
    padding-left: 15px;
    margin-left: 5px;
    font-size: 13px;
    align-items: center;
  }
  > .tab:focus {
      border: none;
      outline: none;
      color: #2a72e5;
  }
  > .tab-linked {
    display: flex;
    text-align: left;
    width: 140px;
    height: 32px; 
    font-weight: normal;
    border: none;
    background-color: #ffffff;
    color: #1c1c1c;
    padding-left: 15px;
    margin-left: 5px;
    font-size: 13px;
    align-items: center;
  }
  > .tab-linked:focus, .tab-linked:hover{
    cursor: pointer;
    color: #2a72e5;
    outline: none;
  }
  > .divider { 
    width: 203px;
    height: 1px;
    margin: 10px;
    background-color: #f4f7f8;
    cursor: default;
  }

  > .soon-tab {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      > .tab {
        text-align: left;
        width: 120px;
        font-size: 13px;
        height: 32px; 
        border: none;
        background-color: #ffffff;
        color: #1c1c1c;
        padding-left: 15px; 
        margin-left: 5px;
      }

      > .tab:focus {
        border: none;
        outline: none;
        color: #2a72e5;
      }
      > .soon {
        width: 49px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        border: solid 1px #dfe4ee;
        background-color: #ffffff;
        margin-right: 10px;
        font-size: 10px;
        font-weight: 600;
        color: #83909f;
      }
    }
  }  
}