.services {
    position: absolute;
  display:inline-block;
    width: 223px;
    height: 319px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(96, 97, 112, 0.14);
    
    background-color: #ffffff;
 > .services-line {
 width: 203px;
  height: 2px;
  margin: 0 10px 3px;
  background-color: #246fed
    }

  > .tab-container{
    // width: 203px;
   
    padding: 0 0 5px;
> .tab-title{ 
    text-align: left;
    font-family: OpenSans;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  padding:7px 15px;
}

  > .tab{ 
    text-align: left;
    width: 120px;
    height: 32px; 
    font-family: OpenSans;
    border: none;
    background-color: #ffffff;
    color: #1c1c1c;
    padding-left: 15px;

  }
  >.tab:focus {
      border: none;
      outline: none;
      color: #2a72e5;
  }
  > .divider{ 
    width: 203px;
    height: 1px;
    margin: 10px;
    background-color: #f4f7f8;
  }

  > .soon-tab{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      > .tab {
        text-align: left;
        width: 120px;
        height: 32px; 
        font-family: OpenSans;
        border: none;
        background-color: #ffffff;
        color: #1c1c1c;
        padding-left: 15px; 
      }
      >.tab:focus {
        border: none;
        outline: none;
        color: #2a72e5;
    }
    > .soon {
        width: 49px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
//   margin: 0 0 0 35px;
//   padding: 3px 9px 3px 10px;
  border-radius: 3px;
  border: solid 1px #dfe4ee;
  background-color: #ffffff;
  margin-right: 10px;
  font-size: 10px;
  font-weight: 600;
  font-family: OpenSans;
  color: #83909f;

    }
  }
  }  
}