.supporter-container {
  margin-top: 20px;
  max-width: 1696px;
  padding: 0 112px 0 112px;

  > .supporter-header {
    font-size: 28px;
      font-weight: 600;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #1c1c1c;
      margin-right: 40px;
      margin-bottom: 50px; 
  }

  > .supporter-section {
    display: flex;
    margin-bottom: 80px;
    justify-content: center;

    > .supporter {
      max-width: 380px;
      max-height: 200px;
      width: 380px;
      height: 200px;
      border: solid 1px #dfe4ee;
      background-color: #ffffff;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > .img {
      width: 260px;
    }
  }

  > .line {
    width: 1696px;
    height: 1px;
    background-color: #dfe4ee;
  }
}