@media all and (min-width: 701px) and (max-width: 1080px) {
  .supporter-container {
    width: 100%;
    margin-bottom: 120px;
    // margin-left: 50px;
    // margin-right: 30px;

    > .gap-mobile {
      height: 30px;
    }

    > .supporter-header {
      font-size: 28px;
      font-weight: 500;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #1c1c1c;
      margin-right: 40px;
      margin-bottom: 50px; 
      margin-top: 20px;
      margin-left: 30px;
    }
    > .gap {
      height: 60px;
    }

    > .supporter-section {
      max-width:1024px;
      margin-bottom: 0px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  
      justify-items: center;
      row-gap: 40px;

      > .supporter {
        // width: 100%;
        max-width: 360px;
        min-width: 360px;
        height: 200px;
        border: solid 1px #dfe4ee;
        background-color: #ffffff;
        // margin: 5px 5px 5px 5px;
        
        display: flex;
        align-items: center;
        justify-content: center;
      }

      > .img {
        width: 260px;
      }
      > .supporter:hover {
        cursor: pointer;
      }
    }
  }
}