@media all and (min-width: 1025px) and (max-width: 1440px) {
  .intro-section {
    width: 95%;
    height: 576px;
    margin-top: 51px;
    margin: 60px 30px 0 30px;

    font-family: "Open Sans", sans-serif !important;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    flex: 1;

    .contents {
      width: 100%;
      max-width: 367px;
      font-family: "Open Sans", sans-serif;

      .img {
        height: 52px;
        margin-bottom: 35px;
      }

      .title {
        font-weight: bold;
        font-stretch: normal ;
        font-style: normal ;
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: -0.6px;
        text-align: left;
        color: #1c1c1c;
        margin-bottom: 12px;
      }

      .content {
        font-size: 16px;
        font-weight: 600;
        color: #4c4c4c;
        line-height: 1.5;
        letter-spacing: normal;
        margin-bottom: 70px;

        &__info-text {
          color: #808992;
        }
      }
    }
  }
}
