@media all and (max-width: 1024px) { // Devices with a viewport width of 1024px or less
  .intro-section {
    width: 100%;
    height: 577px!important;
    margin: 41px 0 0 30px;
    font-family: "Open Sans", sans-serif!important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    flex: 1;

    .contents{
      width: 90%;
      max-width: 300px;
      font-family: "Open Sans", sans-serif;

      .img {
        height: 52px;
        margin-bottom: 30px;
      }

      .title {
        font-weight: bold;
        font-size: 24px;
        letter-spacing: -0.6px;
        text-align: left;
        line-height: 1.25;
        color: #1c1c1c;
        margin-bottom: 12px;
      }

      .content {
        font-size: 16px;
        font-weight: 600;
        color: #4c4c4c;
        line-height: 1.5;
        letter-spacing: normal;
        margin-bottom: 90px;

        &__info-text {
          color: #808992;
        }
      }
    }
  }
}