@media all and (max-width: 700px) {
  .roadmaps {
    // margin-top: 20px;
    padding: 0 20px;
    width: 100%;
    // margin-left: 0px;
    padding: 0 20px;
    height: 387px;

    > .roadmap-header {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 40px;
      margin-left: 20px;

      > .title {
        // max-width: 200px;
        font-family: "OpenSans", sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #1c1c1c;
        margin-right: 20px;
      }
      > .arrow-section {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        > .prev-arrow {
          width: 40px;
          height: 22px;
          margin-top: 3px;
  
          content: url("../../../../assets/arrow-pre.png");
        }
        > .prev-arrow:hover {
          cursor: pointer;
          content: url("../../../../assets/arrow-pre-active.png");
        }
        > .next-arrow {
          width: 40px;
          height: 22px;
          margin: 3px 20px 0 0;
  
          content: url("../../../../assets/arrow-next.png");
        }
        > .next-arrow:hover {
          cursor: pointer;
          content: url("../../../../assets/arrow-next-active.png");
        }
      }
     
    }

    > .roadmap-section {

      // width: 100%;
      // margin-right: 65px;
      // margin-left: 20px;
      // max-width:320px;
      overflow: hidden;
      margin-bottom: 60px;
      margin: 0 20px!important;

      .slide-right-leave-active,
      .slide-right-enter-active {
        transition: 2.0s;
      }
      .slide-right-enter {
        transform: translate(100%, 1);
      }
      .slide-right-leave-to {
        transform: translate(-100%, 1);
      }

      .slide-left-leave-active,
      .slide-left-enter-active {
        transition: 2s;
      }
      .slide-left-enter {
        transform: translate(-100%, 0);
      }
      .slide-left-leave-to {
        transform: translate(100%, 0);
      }

      > .transition {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        > .roadmap {
          width: 100%;
          // position: relative;
          // margin-right: 10px;

          > .roadmap-subject {
            // width: 380px;
            // height: 33px;
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.37;
            letter-spacing: -0.45px;
            text-align: left;
            color: #246fed;
            margin-bottom: 20px;
          }

          > .roadmap-title {
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.4px;
            text-align: left;
            color: #1c1c1c;
            margin-bottom: 10px;
            margin-right: 20px;
          }

          > .roadmap-detail {
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.54;
            letter-spacing: -0.33px;
            text-align: left;
            color: #4c4c4c;
            // height: 110px;
          }
        } 
      }   
    }
  }
}