@media all and (min-width: 1280px) {
  .roadmaps {
    margin-top: 20px;
    width: 100%;

    > .roadmap-header {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 51px;

      > .title {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: #1c1c1c;
        margin-right: 40px;
      }
      > .prev-arrow {
        width: 40px;
        height: 22px;
        margin-top: 3px;

        content: url("../../../../assets/arrow-pre.png");
      }
      > .prev-arrow:hover {
        cursor: pointer;
        content: url("../../../../assets/arrow-pre-active.png");
      }
      > .next-arrow {
        width: 40px;
        height: 22px;
        margin-top: 3px;

        content: url("../../../../assets/arrow-next.png");
      }
      > .next-arrow:hover {
        cursor: pointer;
        content: url("../../../../assets/arrow-next-active.png");
      }
    }

    > .roadmap-section {
      width: 100%;
      overflow: hidden;
      margin-bottom: 80px;

      .slide-right-leave-active,
      .slide-right-enter-active {
        transition: transform 3.0s;
      }
      .slide-right-enter {
        transform: translate(100%, 0);
      }
      .slide-right-leave-to {
        transform: translate(-100%, 0);
      }

      .slide-left-leave-active,
      .slide-left-enter-active {
        transition: transform 3.0s;
      }
      .slide-left-enter {
        transform: translate(-100%, 0);
      }
      .slide-left-leave-to {
        transform: translate(100%, 0);
      }

      > .transition{
        display: flex;
        justify-content: space-between;

        > .roadmap {
          width: 24%;
          position: relative;

          > .roadmap-subject {
            // width: 380px;
            height: 60px;
            font-size: 24px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: -0.6px;
            text-align: left;
            color: #246fed;
            margin-bottom: 20px;
          }
          > .roadmap-subject div {
            display: inline-block;
            vertical-align: text-bottom;
            // height: 60px;
          }

          > .roadmap-title {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.3;
            letter-spacing: -0.5px;
            text-align: left;
            color: #1c1c1c;
            margin-bottom: 10px;
          }

          > .roadmap-detail {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.43;
            letter-spacing: -0.35px;
            text-align: left;
            color: #4c4c4c;
            // height: 110px;
          }
        } 
      }   
    }
  }
}