@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW.woff) format('woff');
}

.solutions-layout {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "OpenSans", sans-serif!important;

  > .solutions-title {
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    // line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: #1c1c1c;

    margin-top: 70px;
  }

  > .solutions-subtitle {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.75;
    letter-spacing: normal;
    text-align: center;
    color: #808992;

    // margin-top:16px;
  }
}
