@media all and (min-width: 701px) and (max-width: 1280px) {
  .comparison-container {
    margin-bottom: 180px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    > .title-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      > .title {
        font-size: 28px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: center;
        color: #1c1c1c;

        // margin-bottom: 15px;
      }

      > .description {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.75;
        letter-spacing: normal;
        text-align: center;
        color: #808992;

      }
    }
    > .outer-mobile-table {
      > .inner-mobile-table {
        > .comparison-table {
          border: solid 1px #eff1f6;
          border-spacing: 0;
          text-align: center;
          font-size: 13px;
          margin: 0 30px;

          .table-header {
            height: 50px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.31;
            letter-spacing: -0.33px;
            text-align: center;
            color: #1c1c1c;
            border: solid 1px #eff1f6;
          }

          .table-header-tokamak {
            height: 50px;
            min-width: 120px;
            max-width: 120px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.31;
            letter-spacing: -0.33px;
            text-align: center;
            // padding: 0 1%!important;
            background: #246fed;
            color: #ffffff;
            border-top: 0.5px solid #246fed;
            border-left: 2px solid #246fed;
            border-right: 2px solid #246fed;
          }

          .title {
            width: 170px;
            border: solid 1px #eff1f6;
          }

          .content {
            border: solid 1px #eff1f6;
            width: 106px;
            height: 50px;
          }

          .content-title {
            border: solid 1px #eff1f6;
            max-width: 187px;
            height: 50px;
            font-size: 13px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.31;
            letter-spacing: -0.33px;
            text-align: left;
            color: #1c1c1c;
            padding: 0 1%!important;
          }
          .second-row {
            background: #f9fcff;
          }
          .content-tokamak {
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.5;
            letter-spacing: -0.3px;
            text-align: center;
            color: #1c1c1c;
            border-left: 2px solid #246fed;
            border-right: 2px solid #246fed;
            border-bottom: solid 2px #eff1f6;
          }
          .content-tokamak-last {
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.5;
            letter-spacing: -0.3px;
            text-align: center;
            color: #1c1c1c;
            border-left: 2px solid #246fed;
            border-right: 2px solid #246fed;
            border-bottom: 2px solid #246fed;
          }
        }
      }
    }
  }
}