@media all and (max-width: 700px) {
  .comparison-container {
    margin-bottom: 60px;
    // overflow-wrap: break-word;
    // word-wrap: break-word;
    align-items: center;
    padding-left: 20px;
    width: 100%;

    > .title-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      > .title {
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: center;
        color: #1c1c1c;
  
        // margin-bottom: 15px;
      }
  
      > .description {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #808992;
  
        margin: 10px 0 30px 0px;
  
        width: 280px;
      }
    }

    > .outer-mobile-table {

      > .inner-mobile-table {
        overflow-x: scroll;

        > .comparison-table tr {
          position: relative;
          margin-left: 30px;
        }

        > .comparison-table th {
          position: absolute;

          border: solid 1px #eff1f6;
          min-width: 112px;
          max-width: 112px!important;
          height: 50px;

          padding-left: 1%!important;
          margin-left: -10px;
          text-transform: none!important;

          font-size: 13px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.2;
          letter-spacing: -0.33px;
          text-align: left;
          color: #1c1c1c;

          z-index: 2;
          // overflow-wrap: break-word;
          // word-wrap: break-word;

          // background: #f9fcff;
        }

        .content-title {
          
        }

        > table {
          border: solid 1px #eff1f6;
          border-spacing: 0;
          text-align: center;
          font-size: 13px;
          border-collapse: collapse;
          word-break: break-all;
          table-layout: fixed;
          margin-right: 20px;
          width: 100%;
          min-width: 700px;

          overflow-x: scroll;

          tr {
            display: table-row
          }

          td {
            margin-left: 30px;
          }

          .table-header {
            height: 50px;
            min-width: 93px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.1;
            letter-spacing: -0.33px;
            text-align: center;
            color: #1c1c1c;
            border: solid 1px #eff1f6;
          }

          .table-header-tokamak {
            height: 50px;
            min-width: 137px!important;
            max-width: 137px!important;

            font-size: 13px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: -0.33px;
            text-align: center;

            background: #246fed;
            color: #ffffff;

            border-top: 2px solid #246fed;
            border-left: 2px solid #246fed;
            border-right: 2px solid #246fed;
          }

          .title {
            width: 180px;
            border: solid 1px #eff1f6;
          }

          .content {
            border: solid 1px #eff1f6;
            width: 106px;
            height: 50px;
            // padding-left: 30px;
          }
          .second-row {
            background: #f9fcff;
          }
          .content-tokamak {
            max-width: 137px!important;
            min-width: 137px!important;
            font-size: 12px;
            // margin-left:300px!important;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.5;
            letter-spacing: -0.3px;
            text-align: center;
            color: #1c1c1c;
            border-left: 2px solid #246fed;
            border-right: 2px solid #246fed;
          }
          .content-tokamak-last {
            max-width: 137px!important;
            min-width: 137px!important;
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.5;
            letter-spacing: -0.3px;
            text-align: center;
            color: #1c1c1c;
            border-left: 2px solid #246fed;
            border-right: 2px solid #246fed;
            border-bottom: 2px solid #246fed;
          }
        }
      }
    }
  }
}