@media all and (max-width: 700px) {
  .blog {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    // height: 3000px!important;
      height: 100%;

    > .blog-header {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 51px;
      margin-left: 20px;

      > .title {
        margin-top: 5px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: #1c1c1c;
        margin-right: 40px;
      }
      > .prev-arrow {
        width: 40px;
        height: 22px;
        margin-top: 3px;

        content: url("../../../../assets/arrow-pre.png");
      }
      > .prev-arrow:hover {
        cursor: pointer;
        content: url("../../../../assets/arrow-pre-active.png");
      }
      > .next-arrow {
        width: 40px;
        height: 22px;
        margin-top: 3px;

        content: url("../../../../assets/arrow-next.png");
      }
      > .next-arrow:hover {
        cursor: pointer;
        content: url("../../../../assets/arrow-next-active.png");
      }
    }

    > .post-section {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 95%;
      // justify-content: space-around;
      margin-bottom: 80px;
      // margin-right: 30px;

      > .post {
        // max-width: 320px;
        width: 95%;
        margin: 0 20px 0 20px;

        > .img {
          width: 100%;
          height: auto;
          margin-bottom: 16px;
          border: solid 1px #dfe4ee;
        }
        > .img:hover {
          cursor: pointer;
        }

        > .post-title {
          font-family: "Open Sans", sans-serif!important;
          font-size: 16px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: -0.4px;
          text-align: left;
          color: #1c1c1c;
          margin-bottom: 10px;
        }
        > .post-title:hover {
          cursor: pointer;
        }

        > .post-preview {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.43;
          letter-spacing: -0.35px;
          text-align: left;
          color: #4c4c4c;
          // height: 110px;
          margin-bottom: 20px;
          overflow-wrap: break-word;
          word-wrap: break-word;
        }
        > .post-preview:hover {
          cursor: pointer;
        }

        > .post-date {
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: -0.35px;
          text-align: left;
          color: #4c4c4c;
          margin-bottom: 40px;
        }
      }    
    }
  }
}