@media all and (max-width: 700px) {
  .solution-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    // margin-left: 20px;
    // justify-content: center;

    > .solution-img {
      max-width: 300px;
      margin: 0px;
    }

    > .solution {
      width: 90%;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      margin: 20px 20px;

      > .solution-title {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
        margin-left: 10px;
      }

      > .solution-content {
        margin-top: 25px;
        font-size: 13px;
        font-weight: 300;
        margin-right: 20px;
        margin-left: 10px;

        > .solution-intro {
          margin-bottom: 25px;
        }

        > .list {
          display: flex;
          justify-content: flex-start;
          line-height: 1.88;

          > .x_icon {
            margin-right: 10px;
          }

          > .icon3 {
            position: absolute;
            margin-top: 4px;
          }
          > .list3 {
            margin-left: 24px;
          }
        }

        > .solution-explain {
          margin-top: 25px;
          line-height: 1.5;
        }
      }
    }
  }
}