@media all and (min-width: 1025px) and (max-width: 1441px) {
  .solution-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1080px;
    width: 95%;
    margin: 80px 30px 0 30px;

    > .solution-img {
      max-width: 416px;
      // margin-left: 144px;
    }

    > .solution {
      margin-top: 80px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      width: 100%;

      > .solution-title {
        margin-top: 10px;
        font-size: 35px;
        font-weight: 600;
      }

      > .solution-content {
        margin-top: 25px;
        font-size: 16px;
        font-weight: normal;

        > .solution-intro {
          margin-bottom: 25px;
        }

        > .list {
          display: flex;
          justify-content: flex-start;
          line-height: 1.88;

          > .x_icon {
            margin-right: 10px;
          }
        }

        > .solution-explain {
          margin-top: 25px;
          line-height: 1.5;
        }
      }
    }
  }
}