@media all and (max-width: 700px) {
  .main-container {
    width: 100%;
    font-size: 23px;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #1c1c1c;
    margin-top: 106px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
      > .description {
        width: 318px;
        font-family: Roboto;
        font-size: 27px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: center;
        color: #1c1c1c;
      }

      > .sub-description {
        width: 258px;
        font-family: Roboto;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: center;
        color: #7c7c7c;
      }

    > .image {
      position: relative;
      background-image: url(../../../../assets/bg-img@3x.png);
      width: 100%;
      height: 155px;
      background-size: cover;
    
      object-fit: contain;
      opacity: 0.8;

      > .text {
        text-align: right;
        margin-right: 20px;
      }
    }
  }
}
